.user-img {

    // Positioning Block 
    position: relative;

    .circle {
        // Structure BLock 
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #FF5A5A;
        background: #fff;

        // Small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) { 
            // Structure BLock 
            width: 8px;
            height: 8px;
            border: 2px solid #FF5A5A;

        }


        // Positioning Block 
        position: absolute;
        right: -1px;
        top: -1px;

        // Modfire Block

    }


    img {
        // Structure BLock 
        width: 52px;
        height: 52px;
        object-fit: cover;
        display: block;
        margin: auto;

        // Small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) { 
            // Structure BLock 
            width: 45px;
            height: 45px;
        }

    }
}