<section class="login-form p-0 p-lg-5 text-center d-flex justify-content-center align-items-lg-center h-100">
    <form class="form w-100">
        
        <div class="form__title mb-4">
            <h2 class="h5 mb-0">SIGN IN</h2>
        </div>

        <!-- begin:: email  -->
        <div class="form-group mb-3">
            <div class="input-icon-group">
                <img class="input-icon-group__icon" src="assets/media/icons/email.svg" alt="Email icon">
                <input type="email" class="form-control rounded-pill pe-3 is-invalid" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>
        <!-- end:: email  -->
        <!-- is-invalid -->

        <!-- begin:: password  -->
        <div class="form-group form-group--icon">
            <div class="input-icon-group">
                <img width="12" class="input-icon-group__icon lock" src="assets/media/icons/lock.svg" alt="Lock icon">
                <input type="password" class="form-control rounded-pill pe-3" id="exampleInputPassword1">
            </div>
            <div class="invalid-feedback">
                ....
            </div>
        </div>
        <!-- end:: password  -->

        <!-- begin:: form action  -->
        <div class="form__actions mt-4 py-3">
            <button mat-raised-button color="primary" class="w-100 rounded-pill">LOGIN</button>
        </div>
        <!-- end:: form action  -->

    </form>
</section>




