.chart-card {

    // Structure Block 
    background-color: var(--primary-color);

    // Typography Block 
    color: #fff;


    // Positioning Block 
    position: relative;


    ::ng-deep {
        .apexcharts-tooltip {
            // Structure Block 
            background: transparent;
            border: 0;

            
            // Typography Block 
            color: #fff;
            font-weight: bold;
        }

        .apexcharts-tooltip-text-y-label {
            // Structure Block 
            display: none;
        }

        .apexcharts-canvas {
            width: 100% !important;

            & > svg  {
                width: 100% !important;
            }
        }
    }
}