
.custom-dialog-container {

    // Structure Block
    max-width: 100% !important;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 

        // Structure Block
        max-width: 544px !important;
    }  

    .mat-dialog-container {

        // Structure Block
        padding: 0;
        box-shadow: none;

        // Modfire Block 
        overflow: visible;
        
        .close-btn {

            // Structure Block
            padding: 12px 24px;
            display: flex;
            justify-content: flex-end;
            margin: 0;
            width: 100%;
            padding: 1rem;
            margin-bottom: 6px;

            img {
                // Structure Block
                width: 1rem;
            }
        }

        .mat-dialog-content  {

            // Structure Block
            margin: 0;
            max-height: 80vh;
        }

    }
    &.bg-none {
        .mat-dialog-container  {
            // Structure Block
            background: none;

            // Positioning Block 
            position: relative;


            .dialog__content {
                // Structure Block
                background-color: #fff;
                border-radius: $mainRounded;
            }
        }
    }

    // X-Small devices (portrait phones, less than 576px)
    @include bp-max-ex-576 {
        // Structure Block
        width: 100% !important;
    }

    &.confirmation-dialog {

        @include bp-max-1200  {
            // Structure Block
            width: 50% !important;
        }
        @include bp-max-ex-576 {
            // Structure Block
            width: 100% !important;
        }

        .mat-dialog-content {
            // Modfire Block 
            overflow: hidden;
        }
    
    }
}

.cdk-overlay-dark-backdrop {
    // Structure Block 
    background: rgba(0, 0, 0, 0.75);
}

.mat-dialog-actions {
    // Structure Block 
    min-height: auto !important;
}