.text {
    &--primary {
        color: $primaryColor;
    }

    &--secondary {
        color: $secondaryColor;
    }

    &--muted {
        color: rgba(0, 0, 0, 0.5);
    }

    &--purple {
        color: $purpleColor;
    }
}


// begin weights 
.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500;
}

// on hover

.text--secondary--hover {
    &:hover {
        color: $secondaryColor;
    }
}

// Line height utilities 
.lh-normal {
    line-height: normal !important;
}
