<div class="layout">
 
  <!-- begin:: header  -->
  <app-header></app-header>
  <!-- end:: header  -->


  <div class="layout__body h-100">
    <div class="container-fluid d-flex h-100">

      <!-- begin:: side nav  -->
      <side-nav [start]="true" class="d-none d-xl-block"></side-nav>
      <!-- begin:: side nav  -->


      <div class="px-xl-5 w-100">
        <!-- begin:: body  -->
        <router-outlet></router-outlet>
        <!-- end:: body  -->
      </div>


      <!-- begin:: side nav  -->
      <side-nav [end]="true" class="d-none d-xl-block"></side-nav>
      <!-- begin:: side nav  -->

    </div>
  </div>

</div>