.layout {

    // Structure Block 
    min-height: 200vh; 
    display: flex;
    flex-direction: column;
    height: 100%;

    &__body {

        // Structure Block 
        height: 100%;
        padding-top: 5.5rem;
        
    }
}