
<!-- begin:: toolbar  -->
<mat-toolbar class="py-1 px-2">
    <mat-toolbar-row class="container-fluid">
      <a routerLink="/" class="logo py-1 me-5">
        <img height="52" src="assets/media/logo/logo.png" alt="Logo">
      </a>
      <span class="menu-spacer d-xl-none"></span>
      <div class="d-none d-xl-block flex-grow-1">

        <div class="d-flex align-items-center w-100 justify-content-between">

          <!-- begin:: search form -->
          <app-search class="ps-3"></app-search>
          <!-- end:: search form -->


          <!-- begin:: notification -->
          <app-notification></app-notification>
          <!-- end:: notification -->
        </div>

      </div>

      <button (click)="toggleSearchBar()" class="btn d-xl-none me-2" type="button" id="button-addon1">
        <img width="18" src="assets/media/icons/search-icon.svg" alt="Search">
      </button>

      <button class="d-xl-none" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar-row>
</mat-toolbar>
<!-- end:: toolbar  -->



<!-- begin:: search bar  -->
<search-bar [class.open]="isSidebarOpen" class="d-xl-none"></search-bar>
<!-- end:: search bar  -->



<!-- begin:: sidebar  -->
<mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav #sidenav [position]="'start'" [fixedInViewport]="true">
      <mat-nav-list>

        <!-- begin:: side nav  -->
        <side-nav></side-nav>
        <!-- begin:: side nav  -->

      </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
<!-- begin:: sidebar  -->
