<div class="auth__login h-100">

    <div class="container h-100 d-flex flex-column">

        <!-- begin:: logo  -->
        <div class="logo">
            <a routerLink="/auth">
                <img src="assets/media/logo/logo.png" alt="Logo">
            </a>
        </div>
        <!-- end:: logo  -->


        <!-- begin :: content  -->
        <div class="auth__login__content flex-grow-1">
            <div class="row h-100 g-0">

                <!-- begin splash screen -->
                <div class="col-lg-7 col-xl-8 mb-5 mb-lg-0">
                    <splash-screen></splash-screen>
                </div>
                <!-- end splash screen -->


                <!-- begin:: login form  -->
                <div class="col-lg-5 col-xl-4 pt-4 pt-lg-0">
                    <login-form></login-form>
                </div>
                <!-- end:: login form  -->

            </div>
        </div>
        
    </div>

</div>
