.gap_2 {
    margin-right: -10px;
    margin-left: -10px;
    .col_gap_2 {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px !important;
    }
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.container-right {
    padding-left: 15px;
    padding-right: 15px;
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { 
      margin-left: calc(50vw - 668px) !important;
      padding-right: 0;   
    }
}
 
@media (min-width:576px){
   .container-right {
     margin-right: 0;
     margin-left: calc(50vw - 270px);
   }
}
 
@media (min-width:768px){
   .container-right {
     margin-right: 0;
     margin-left: calc(50vw - 360px);
   }
}
 
@media (min-width:992px){
   .container-right {
     margin-right: 0;
     margin-left: calc(50vw - 480px);
   }
}
 
 @media (min-width:1200px){
   .container-right {
     margin-right: 0;
     margin-left: calc(50vw - 570px);
   }
}

.min-width-auto {
  min-width: auto !important;
}

.min-height-auto {
  min-height: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}